# Used for prefixing project files so that you can run
# multiple projects in the same testbot network.
project: project_name

# Using rsync
# The folder where your files are synced to and then
# fetched from before running the tests.
server_type: rsync
server_path: user@server:/tmp/testbot/!USERNAME!

# Using git
# server_type: git
# server_path: git@server:/path/to/repo

# Only used for rsync, but the current version requires it.
ignores: log/* .git

# Set to a lower percentage to not use every available
# instance or higher to create more jobs than there are instances.
available_runner_usage: 100%

# To tunnel traffic through SSH
# ssh_tunnel: user@server

# To use http without a tunnel
server_uri: http://server:2288

# Less noise in the output when running tests
# simple_output: true
