server_host: localhost
max_instances: 1
automatic_updates: false

# ssh_tunnel: true

# To use less instances when running JRuby (as it requires more memory)
# max_jruby_instances: 1

# Options to JRuby, for example useful for adjusting the amount of memory JRuby uses.
# jruby_opts: -J-Xms300m -J-Xmx300m
